name: "build"
on: [ "push" ]
jobs:
  build-ivy-intellij:
    name: "Build Ivy Intellij Plugin"
    runs-on: "ubuntu-20.04"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-java@v3"
        with:
          distribution: "temurin"
          java-version: "11"
      - uses: "gradle/gradle-build-action@v2"
        with:
          gradle-version: "6.1"
      - run: "bash ./scripts/setup-jre8.sh"
      - run: "gradle buildPlugin proGuard --no-daemon"
      - uses: "actions/upload-artifact@v3"
        with:
          name: "distribution-packages"
          path: "build/distributions/ivy-intellij-*.zip"
  create-snapshot-release:
    name: "Create SNAPSHOT Release"
    needs: "build-ivy-intellij"
    runs-on: "ubuntu-20.04"
    if: "github.ref == 'refs/heads/master'"
    steps:
      - uses: "actions/download-artifact@v3"
        with:
          name: "distribution-packages"
          path: "build/distributions"
      - uses: "pyTooling/Actions/releaser@r0"
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: "snapshot"
          files: "build/distributions/ivy-intellij-*.zip"
